<nav>
  <ul>
    <li>
      <a routerLink="first-component" ariaCurrentWhenActive="page"
        >First Component</a
      >
    </li>
    <li>
      <a routerLink="second-component" ariaCurrentWhenActive="page"
        >Second Component</a
      >
    </li>
  </ul>
</nav>

<div>
  <h2>Angular Router Sample</h2>
  <nav>
    <a
      class="button"
      routerLink="/crisis-list"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Crisis Center</a
    >
    |
    <a
      class="button"
      routerLink="/heroes-list"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Heroes</a
    >
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>
